<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Traveller Contactanos</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='web/img/logo.png') }}" rel="icon">
  <!-- Libraries & Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='web/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='web/css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav">
            <div class="titulo">
                <h2>Travel Go</h2>
            </div>
            <div class="navegacion">
                <a href="/inicio.html">Inicio</a>
                <a href="/contactanos.html">Contactanos</a>
                <a href="/blog.html">Blog</a>
            </div>
            <div class="menu-hamburguesa" onclick="toggleMenu()">
                <div class="barra"></div>
                <div class="barra"></div>
                <div class="barra"></div>
            </div>
        </div>
    </header>
    
    
    <div>
        <h1>¡Formulario Enviado con Éxito!</h1>
        <p>Gracias por enviar el formulario. Tus datos han sido procesados correctamente.</p>
    
        <!-- Puedes incluir enlaces, imágenes u otros elementos según tus necesidades -->
    
        <p><a href="">Volver a la página principal</a></p>
    </div>


    <footer class="pie-ct">

        <div class="footer">
            <div class="logo">
                <h3>Travel go</h3>
                <p>Reserva tu viaje en minutos, llena
                    Controla por mucho más tiempo.</p>
            </div>
    
            <div class="footer-navegacion">
                <div class="ft">
                    <h2>compañia</h2>
                    <a href="#">Acerca de</a>
                    <a href="#">Mobile</a>
                </div>
    
                <div class="ft">
                    <h2>Contactanos</h2>
                    <a href="#">Ayuda/FAQ</a>
                    <a href="#">Afiliados</a>
                </div>
    
                <div class="ft">
                    <h2>More</h2>
                    <a href="#">Aerolinea</a>
                    <a href="#">Consejos para tarifas bajas</a>
                </div>
            </div>

            
            <div class="redes-footer">
                <a href="#"><img src="{{ url_for('static', filename='web/img/facebook.png') }}"></a>
                <a href="#"><img src="{{ url_for('static', filename='web/img/instagram.png') }}"></a>

                <p>Descubre nuestra App</p>

                <a class="app" href="#"><img src="{{ url_for('static', filename='web/img/GooglePlay.png') }}"></a>
                <a class="app" href="#"><img src="{{ url_for('static', filename='web/img/PlayStore.png') }}"></a>
            </div>
        </div>
        

        <div class="reservado">
            <p>Derechos reservados reserved@travelgoo.com</p>
        </div>
    </footer>
</body>

<script src="{{ url_for('static', filename='web/js/navBar.js') }}" class="apps"></script>
<script src="{{ url_for('static', filename='web/js/main.js') }}" class="apps"></script>
<script src="{{ url_for('static', filename='web/js/conexionbd.js') }}" class="apps"></script>


</html>
